.sidebar {
	background-image: url(/img/redacted2.png);
	background-size: auto 950px;
}

a.sidebar-nav-item-image {
	background-color: white;
}

a.sidebar-nav-item-image img:hover {
	opacity: .5;
}

.theme-base-08 .sidebar {
	background-color: white;
  /*background-color: #062f4f;*/
}

.sidebar a {
  color: black;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}

.redacted:hover {
	background-color: black;
	color:black;
}

.sidebar-about h1 {
	padding-bottom: 90px;
}

.sidebar .lead a {
	color: #B82601;
}

footer {
  background-color: #B82601;
  padding: 1rem;
}

.content {
	min-height: 100vh; /* minus the height of the footer */
	padding-top: 1.5rem;
}

/*controls table where logos are located in the index page */
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #fff
}

td,
th {
	border-color: #fff;
}