a.sidebar-nav-item-image {
	background-color: white;
}

a.sidebar-nav-item-image img:hover {
	opacity: .5;
}

.theme-base-08 .sidebar {
  background-color: #062f4f;
}

.sidebar a {
  color: #FFF;
}

.sidebar .lead a {
	color: #B82601;
}

footer {
  background-color: #B82601;
  padding: 1rem;
}

.content {
	min-height: 100vh; /* minus the height of the footer */
}

/*controls table where logos are located in the index page */
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #fff
}

td,
th {
	border-color: #fff;
}